.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SI_CW3.iml
.idea/workspace.xml
__pycache__/classes.cpython-36.pyc
__pycache__/dialogs.cpython-36.pyc
__pycache__/tools.cpython-36.pyc
is_ds_generator.exe
SystemTestowy.txt
SystemTreningowy.txt
test_trn.txt
test_tst.txt
.idea/vcs.xml
